.transaction_link_create{
    color:var(--text-color);
    transition: var(--transition-all);
    background-color: var(--btn-color);
    padding: 1rem 1.2rem;
    border-radius: var(--radius-md);
    cursor: pointer;
    span{
        margin-right: 1rem;
    }

    &:hover{
        background-color: var(--primary-color);
    }
}

.transaction_list{
    .transaction_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .transaction_item{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        align-items: center;
        border: 1px solid var(--text-color);
        border-radius: var(--radius-md);
        margin-top: 2rem;
        padding: 2rem;
        color: var(--text-color);
        box-shadow: 0 0 10px rgba($color: #1f1e1e, $alpha: 0.2);

        .category{
            width: max-content;
            font-size: 1.25rem;
            text-transform: uppercase;
            background-color: var(--six-color);
            text-align: center;
            color: var(--text-color);
            border-radius: var(--radius-md);
            padding: 0.35rem 1.8rem;
            cursor: pointer;
            transition: var(--transition-all);

            &:hover{
                box-shadow: var(--shadow-sm);
            }
        }

        .amount{
            font-size: 1.8rem;
            font-weight: 600;
        }

        .transaction_btns{
            display: flex;
            justify-content: flex-end;
        }

        .edit{
            grid-column: 1/-1;
            padding: 1rem;
            margin-top: 1.2rem;
        }
    }
}

.react-daterange-picker__wrapper{
    border: none;
    background-color: var(--bg-color);
    border-radius: var(--radius-sm);
    padding: 0.85rem;
    box-shadow: var(--shadow-sm);
    margin-top: 5px;

    input{
        &:focus-visible {
            outline-offset: 0px;
            outline: none;
        }
    }
}