.transaction_link_create {
  color: var(--text-color);
  transition: var(--transition-all);
  background-color: var(--btn-color);
  padding: 1rem 1.2rem;
  border-radius: var(--radius-md);
  cursor: pointer;
  span {
    margin-right: 1rem;
  }

  &:hover {
    background-color: var(--primary-color);
  }
}

.transaction_list {
  .transaction_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.react-daterange-picker__wrapper {
  border: none;
  background-color: #fff;
  border-radius: var(--radius-sm);
  padding: 0.85rem;
  box-shadow: var(--shadow-sm);
  margin-top: 5px;

  input {
    &:focus-visible {
      outline-offset: 0px;
      outline: none;
    }
  }
}
