.home_grid {
  display: grid;

  @media (min-width: 640px) {
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(3, 1fr);
  }

  .home_grid_chart {
    @media (min-width: 640px) {
      grid-column: 1/3;
    }
  }
}
